In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('airline_safety_data.txt')
df.head(3)

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,Aer Lingus,320906734,2,0,0,0,0,0
1,Aeroflot*,1197672318,76,14,128,6,1,88
2,Aerolineas Argentinas,385803648,6,0,0,1,0,0

In [48]:
df['total'] = (df.fatalities_85_99 + df.fatalities_00_14)#.sort_values(ascending=True)
df[['airline','total']].sort_values('total', ascending=False).head()

              airline  total
16     China Airlines    760
34  Malaysia Airlines    571
28     Japan Airlines    520
11          American*    517
6          Air India*    487

In [26]:
df.head()

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14,total
0,Aer Lingus,320906734,2,0,0,0,0,0,0
1,Aeroflot*,1197672318,76,14,128,6,1,88,0
2,Aerolineas Argentinas,385803648,6,0,0,1,0,0,0
3,Aeromexico*,596871813,3,1,64,5,0,0,0
4,Air Canada,1865253802,2,0,0,2,0,0,0